// Specific CSS for your home-page
$main-black: rgb(80, 80, 80);

body {
  background-color: rgb(253, 253, 253);
}

.banner {
  height: 400px;
  background-size: cover;
}

.form {
  background-color: white;
  padding: 30px;
  width: 508px;
  position: relative;
  top: 90px; //(70px) changed just to see
  // left: 110px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 1px 1px 12px -2px rgba(87,87,87,0.56);
}

.form-control {
  margin-bottom: 10px;
}


.form h1 {
  font-weight: bolder;
  font-size: 30px;
  color: $main-black;
}

.display_flats {
  padding: 50px;
  height: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  padding: 50px 0px 15px;
  h1 {
    font-size: 25px;
    font-weight: bolder;
    color: $main-black;
  }
  p {
    color: $main-black;
  }
}

.card-flat {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  border-radius: 3px;
  // padding: 20px;
}

.cards-flats {
  // justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
  }
  h3 {
    font-size: 0.7em;
    margin: 20px 10px;
  }
  p {
    font-size: 15px;
    opacity: .7;
    margin: 10px 10px ;
  }
  img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
  }

  .homepage-card-text {
    padding: 10px 0 0 10px;
    h4 {
      font-size: 1.3em;
    }
  }

  .fa-map-marker-alt {
    color: $gray;
    margin-right: 0.5em;
  }
}

.info_block {
  height: 500px;
  margin-top: 30px;

}

.info_text {
  border-bottom: solid 1px rgb(230, 230, 230);
    h1 {
    font-size: 25px;
    font-weight: bolder;
    color: $main-black;
    padding-bottom: 16px;
  }
}

.push-content-down {
  height: 100px;
}

.btn-danger {
  color: white;
}

.mapb-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

}

.info_textt h1 {
  font-size: 25px;
  font-weight: bolder;
  color: $main-black;
  padding-bottom: 16px;
}

