.info-carousel-map-container {
  margin-left: 50px;
  h1 {
    color: #505050;
    font-family: $headers-font;
}

.flat-info {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: $light-gray;
  // width: 29%;
  width: auto;
  padding: 20px 0 20px 20px;
  margin-bottom: 2em;
  border-radius: 5px;
  }
  h4, h5 {
    font-family: $body-font;
    color: #505050;
  }
}

.carousel-container {
  // width of carousel, also effects carousel arrows
  width: 400px;
  .carousel {
    border-radius: 5px;
    overflow: hidden;
  }
}

.edit-button-container {
  margin-top: 2em;
}
.edit-flat-button {
  background-color: #EA555C;
  color: white;
  padding: .5em 2em;
  border-radius: 5px;
  margin-top: 2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(206, 74, 78);
  }
}

.map-container {
  width: 40%;
  margin-top: 3.5em;
}


