.info-carousel-container {
  margin-left: 50px;
}

.flat-info {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 29%;
  padding: 20px 0 20px 20px;
  margin-bottom: 2em;
  border-radius: 5px;
  h1 {
    color: $gray;
    font-family: $headers-font;
  }
  h4 {
    font-family: $body-font;
    color: $gray;
  }
}

.carousel-container {
  // width of carousel, also effects carousel arrows
  width: 400px;
  .carousel {
    border-radius: 5px;
    overflow: hidden;
  }
}

.edit-flat-button {
  background-color: #EA555C;
  color: white;
  padding: .5em 2em;
  border-radius: 5px;
  margin-top: 2em;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(206, 74, 78);
  }
}


