<div class="containermain">
  <div class="container">
    <h1>Flats#index</h1>
      <p>Find me in app/views/flats/index.html.erb</p>

      <p><% @flats.each do |flat|  %></p>
        <p><%= @flat.name %></p>
      <p><% end %></p>
  </div>
</div>



