<div class="banner" style="background-image: url(<%= asset_url('background.jpg') %>);">

  <div class="form">
    <form>
      <h1>Book homes, hotels, and more on Airbnb</h1>
      <div class="form-group">
        <label for="exampleInputWhere">Where</label>
        <input type="location" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputWhere">Check-in</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputWhere">Check-out</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Number of adults</label>
        <input type="number" min="0" class="form-control" id="exampleInputPassword1" placeholder="...">
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>
    </form>
  </div>
</div>

<div class="display_flats">
  <div class="text">
    <h1>What users in the United Kingdom are looking at</h1>
    <p>United Kingdom homes were rated 4.7 out of 5 stars with 10,500,000+ reviews</p>
  </div>
  <div class="cards_">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>
  </div>

  <div class="info_block">
    <div class="info_text">
      <h1>Travelling with AirBnb</h1>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
  </div>
</div>
