.form-inputs {
margin: auto;
background-color: white;
padding: 20px;
}

// .form-actions {
//   text-align: center;
//   padding: 3px 97px;
// }

h2 {
  padding: 20px;
}

.btn {
  color: #343a40;
}

input.btn:hover {
  color: white;
}
